* {
    font-family: 'Roboto', sans-serif;
}

.container {
    box-sizing: border-box;
    width: 1440px;
    margin: 0 auto;
}
.head {

}

.header {
    margin: 15px 0;
}
.flex1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_menu_item a {
    text-decoration: none;
    color: black;
}

.nav_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 40px;
}

.nav_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
}

.nav_buttons a {
    text-decoration: none;
    color: black;
}

.text1 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

}


.nav_btn {
    width: 163px;
    height: 54px;
    background: #0B2330;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
}

.body_header {
    display: flex;
    column-gap: 257px;
    position: relative;
}

.body_header_text {
    width: 436px;
    margin-top: 237px;
    margin-left: 147px;
 }


.body_header_text h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin-top: 0;
    margin-bottom: 32px;
}
.body_header_text p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    color: #375361;
    margin-top: 0;
    margin-bottom: 38px;
}

.header_button_start {
    width: 163px;
    height: 54px;
    background: #F9C600;
    border: 1px solid #F9C600;
    box-sizing: border-box;
    border-radius: 4px;
    color: #0B2330;
    margin-right: 16px;
}

.header_button_talk {
    width: 156px;
    height: 54px;
    border: 1px solid #0B2330;
    box-sizing: border-box;
    border-radius: 4px;
    color: #000000;

}

.body_header_img {
    width: 600px;
    height: 886px;
    background: #F9C600;

}
.body_header_img img {
    display: block;
    position: absolute;
    bottom: 107px;
    right: 101px;
}


.body_header_title {
    margin-top: 189px;
}
.body_header_title h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #0B2330;
}

